NiceHash Profitability Tracker/packages/
NiceHash Profitability Tracker/NiceHash Profitability Tracker/bin/Debug/
NiceHash Profitability Tracker/.vs/NiceHash Profitability Tracker/v15/
NiceHash Profitability Tracker/NiceHash Profitability Tracker/obj/
NiceHash Profitability Tracker/NiceHashWorkerMonitor/bin/
NiceHash Profitability Tracker/NiceHashWorkerMonitor/obj/
