NiceHash Profitability Tracker/packages/
NiceHash Profitability Tracker/NiceHash Profitability Tracker/bin/Debug/
NiceHash Profitability Tracker/.vs/NiceHash Profitability Tracker/v15/
NiceHash Profitability Tracker/NiceHash Profitability Tracker/obj/
NiceHash Profitability Tracker/NiceHashWorkerMonitor/bin/
NiceHash Profitability Tracker/NiceHashWorkerMonitor/obj/
NiceHashProfitablitiyCalculator-1.0.0.10.zip
NiceHashProfitablitiyCalculator-1.0.0.9.zip
NiceHashProfitablitiyCalculator-1.0.0.10/
NiceHashProfitablitiyCalculator-1.0.0.11/
*.zip
NiceHash Profitability Tracker/NiceHashStatsViewer/bin/Debug/EntityFramework.dll
NiceHash Profitability Tracker/NiceHashStatsViewer/bin/
NiceHash Profitability Tracker/NiceHashStatsViewer/obj/
Releases/
NiceHash Profitability Tracker/NiceHashProfitabilityCalculatorUpdater/bin/
NiceHash Profitability Tracker/NiceHashProfitabilityCalculatorUpdater/obj/
